/* Empty. Add your own CSS if you like */

/* -------------- CSS for Login Page --------------*/
#loginImage {
	padding-top: 50px;
	padding-bottom: 50px;
}

#loginHeader {
	padding-top: 40px;
	padding-bottom: 0px;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

.text-blue {
  color: #007aff;
}

.item-title {
  font-size: larger;
  font-weight: 900;
}

.profile-image {
	border-radius: 60px;
	background-image: url(http://loremflickr.com/120/120/person);
	height: 120px;
 	width: 120px;
 	margin: 0 auto;
 	margin-bottom: 15px;
}

