<ion-view title="Appointment Details">
    <ion-content padding="true" class="has-header">

        <!--<div class="list card">-->
            <!--<div class="item item-divider text-center">-->
              <!--<strong>Appointment Details</strong>-->
            <!--</div>-->
        <!--</div>-->

          <div class="item item-text-wrap card" ng-repeat="details in appt">
                <ion-list>

                  <ion-item class="item item-icon-left">

                    <i class="icon ion-ios-calendar-outline"></i>

                    <span style="font-weight: bold;">Date: </span>
                    {{details.date}}
                  </ion-item>

                  <ion-item class="item item-icon-left">

                    <i class="icon ion-ios-time-outline"></i>

                    <span style="font-weight: bold;">Time: </span>
                    {{details.time}}
                  </ion-item>

                  <ion-item class="item item-icon-left">

                    <i class="icon ion-ios-person-outline"></i>

                    <span style="font-weight: bold;">Patient:</span>
                    {{details.patient}}

                  </ion-item>

                  <ion-item class="item item-icon-left">

                    <i class="icon ion-ios-home"></i>

                    <span style="font-weight: bold;">Clinic:</span>
                    {{details.location}}
                  </ion-item>

                  <ion-item class="item item-icon-left">

                    <i class="icon ion-ios-location-outline"></i>

                    <span style="font-weight: bold;">Address:</span>
                    {{details.address}}, {{details.city}}, {{details.state}} {{details.zip}}</p>
                  </ion-item>

                  <ion-item class="item item-icon-left">

                    <i class="icon ion-medkit"></i>

                    <span style="font-weight: bold;">With:</span>
                    {{details.physician}}
                  </ion-item>

                  <ion-item class="item item-icon-left">

                    <i class="icon ion-clipboard"></i>

                    <span style="font-weight: bold;">Notes:</span>
                    {{details.notes}}
                  </ion-item>

                  

                    

             <!--  <label class="item item-input item-icon-left">
                <i class="icon ion-clipboard"></i>
                <span class="input-label" style="font-weight: bold;">Notes:</span>
                <input type="text" value="{{details.notes}}">
              </label> -->
                  

                  
                </ion-list>
            </div>

        <a href="tel:+1-1800-555-5555" class="button button-block button-positive icon-left ion-ios-telephone">Contact Clinic</a>

        <div>
            <center>
                <p>
                    -----------------------
                    <b>OR</b>-----------------------
                </p>
            </center>
        </div>

        <button class="button button-block button-assertive icon-left ion-android-cancel"
                ng-click="cancelAppt()">
          Cancel Appointment
        </button>

    </ion-content>
</ion-view>
