<ion-view title="Appointment Details">
    <ion-content padding="true" class="has-header">

          <div class="item item-text-wrap card">
                <ion-list>

                  <ion-item class="item item-icon-left">

                    <i class="icon ion-ios-calendar-outline"></i>

                    <span style="font-weight: bold;">Date: </span>
                    {{appt.Date | date: 'MMM dd, yyyy'}}
                  </ion-item>

                  <ion-item class="item item-icon-left">

                    <i class="icon ion-ios-time-outline"></i>

                    <span style="font-weight: bold;">Time: </span>
                    {{appt.Date | date: 'h:mm a'}}
                  </ion-item>

                  <ion-item class="item item-icon-left">

                    <i class="icon ion-ios-person-outline"></i>

                    <span style="font-weight: bold;">Patient:</span>
                    {{appt.Patient.FirstName}} {{appt.Patient.LastName}}

                  </ion-item>

                  <ion-item class="item item-icon-left">

                    <i class="icon ion-ios-home"></i>

                    <span style="font-weight: bold;">Clinic:</span>
                    {{appt.Clinic.Hospital.Name}} - {{appt.Clinic.Hospital.Branch}}
                  </ion-item>

                  <ion-item class="item item-icon-left">

                    <i class="icon ion-ios-location-outline"></i>

                    <span style="font-weight: bold;">Address:</span>
                    {{appt.Clinic.Hospital.Address}}, {{appt.Clinic.Hospital.City}}, {{appt.Clinic.Hospital.State}} {{appt.Clinic.Hospital.ZipCode}}</p>
                  </ion-item>

                  <ion-item class="item item-icon-left">

                    <i class="icon ion-medkit"></i>

                    <span style="font-weight: bold;">Physician:</span>
                    {{appt.Doctor.FirstName}} {{appt.Doctor.LastName}}
                  </ion-item>

                  <ion-item class="item item-icon-left">

                    <i class="icon ion-clipboard"></i>

                    <span style="font-weight: bold;">Notes:</span>
                    {{appt.Notes}}
                  </ion-item>





             <!--  <label class="item item-input item-icon-left">
                <i class="icon ion-clipboard"></i>
                <span class="input-label" style="font-weight: bold;">Notes:</span>
                <input type="text" value="{{details.notes}}">
              </label> -->



                </ion-list>
            </div>


        <div class="button-bar ">
          <a href="tel:+1-1800-555-5555" class="button button-block button-positive icon-left ion-ios-telephone">Contact</a>

          <button class="button button-block button-balanced icon-left ion-ios-navigate-outline"
                  ng-click="checkinAppt()"
                  ng-hide="appt.CheckedIn">
            Check-in
          </button>

          <button class="button button-block button-outline button-balanced icon-left ion-ios-navigate-outline"
                  ng-show="appt.CheckedIn"
                  ng-click="checkinAppt()">
            Checked In
          </button>
        </div>

        <button class="button button-block button-assertive icon-left ion-android-cancel"
                ng-click="cancelAppt()">
          Cancel Appointment
        </button>



    </ion-content>
</ion-view>
