<ion-view view-title="Home">
  <ion-content>

    <div class="list card">

      <div class="item item-avatar">
        <img src="http://loremflickr.com/320/240/person">
        <h2>John Doe</h2>
        <p>MedIT</p>
      </div>

    </div>

    <div class="list card">

      <div class="item item-divider text-center">
        <strong>Upcoming Appointments</strong>
      </div>
    </div>

    <div class="item item-text-wrap card"
         ng-repeat="appt in appts"
         ng-click="viewAppt(appt)"
         ui-sref="app.apptDetails">

      <ion-list padding="false">

        <ion-item>
          <p>{{appt.time}}</p>
          <span class="item-title">{{appt.date}}</span>
          <p>{{appt.patient}}</p>
          <p>{{appt.location}}</p>

          <br>

          <span class="text-blue">VIEW</span>
        </ion-item>


      </ion-list>

    </div>

    </div>
  </ion-content>
</ion-view>
