<ion-view view-title="Home">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <!--<img src="mcfly.jpg">-->
        <h2>John Doe</h2>
        <p>Children's Health Care of Atlanta</p>
      </div>

      <div class="item item-divider">
        Upcoming Appointments
      </div>
      <div class="item item-text-wrap" ng-repeat="appt in appts" ng-click="viewAppt(appt)" ui-sref="app.browse">
        {{appt.title}}
      </div>
    </div>
  </ion-content>
</ion-view>
