<ion-view view-title="Manage Profile">
  <ion-content>

     <div class="list card">
        <div>
          <div class="item item-divider text-center">
            <strong>User Profile</strong>
          </div>

          <div class="settings-page">
            <img class="profile-image settings-page" src="img/user.jpg" />
          </div>

          <div class="item">
              <h2><strong>{{user.name}}</strong></h2>
              <p><strong>Email:</strong> {{user.email}}</p>
              <p><strong>Phone:</strong> {{user.phone}}</p>
              <p><strong>Address:</strong> {{user.address}}</p>
              <p>{{user.city}}, {{user.state}} {{user.zip}}</p>
          </div>
        </div>
      </div>

      <div class="list card">
        <div>
          <div class="item item-divider text-center">
            <strong>Patient Profiles</strong>
          </div>

          <div class="item item-text-wrap"
                ng-repeat="patient in patients">
            <div id="vert-bar" ng-class="patient.color">
            </div>

            <div class="profile-image-boy settings-page">
              <img ng-src="{{patient.photo}}"/>
            </div>

            <div class="profile-text">
                <h2>{{patient.name}} |  {{patient.age}}, {{patient.gender}} </h2>
                <p>Insurance ID: {{patient.insuranceID}}</p>
                <p>Insurance Provider: {{patient.insuranceProvider}}</p>
            </div>

          </div>

          <!--<div class="item item-text-wrap">-->
            <!--<div id="vert-bar"-->
                 <!--ng-class="{'yellow': johnnyColor === 'Yellow',-->
                            <!--'pac-blue': johnnyColor === 'Blue',-->
                            <!--'maroon': johnnyColor === 'Red',-->
                            <!--'green': johnnyColor === 'Green'}">-->
            <!--</div>-->

            <!--<div class="profile-image-boy settings-page">-->
              <!--<img src="img/boy-child.jpg" />-->
            <!--</div>-->

            <!--<div class="profile-text">-->
                <!--<h2>Johnny Doe Jr |  8, Male </h2>-->
                <!--&lt;!&ndash; <p>Age: 8</p>-->
                <!--<p>Sex: Male</p> &ndash;&gt;-->
                <!--<p>Insurance ID: 902-933-285</p>-->
                <!--<p>Insurance Provider: BCBS Georgia</p>-->
            <!--</div>-->

          <!--</div>-->

          <!--<div class="item item-text-wrap">-->
            <!--<div id="vert-bar"-->
                 <!--ng-class="{'yellow': johannaColor === 'Yellow',-->
                            <!--'pac-blue': johannaColor === 'Blue',-->
                            <!--'maroon': johannaColor === 'Red',-->
                            <!--'green': johannaColor === 'Green'}">-->
            <!--</div>-->

            <!--<div class="profile-image-girl settings-page">-->
              <!--<img src="img/girl-child.jpg" />-->
            <!--</div>-->
            <!--<div class="profile-text item-wrap-text">-->
                <!--<h2>Johanna Doe |   5, Female </h2>-->
               <!--&lt;!&ndash;  <p>Age: 5</p>-->
                <!--<p>Sex: Female</p> &ndash;&gt;-->
                <!--<p>Insurance ID: 902-933-251</p>-->
                <!--<p>Insurance Provider: BCBS Georgia</p>-->

            <!--</div>-->

          <!--</div>-->


        </div>
      </div>

      <div class="list card"
           ng-show="isCheckingIn">
        <div class="item text-center item-divider">
          <strong>Is this information up to date?</strong>
        </div>

        <div class="item button-bar">
          <a class="button button-stable" ng-click="checkIn(0)">No</a>
          <a class="button button-positive" ng-click="checkIn(1)">Yes</a>
        </div>
      </div>

  </ion-content>
</ion-view>
