<ion-view view-title="Manage Profile">
  <ion-content>

     <div class="list card">
        <div>
          <div class="item item-divider">
            User Profile
          </div>

          <div class="profile-image settings-page">
          </div>

          <div class="item">
              <h2>John Doe</h2>
              <p>Email: jdoe@gatech.edu</p>
              <p>Phone: (404) 915 3497</p>
              <p>Address: 733 Techwood Dr. Atlanta</p>
              <p>GA 30313</p>
          </div>
        </div>    
      </div>

      <div class="list card">
        <div>
          <div class="item item-divider">
            Patient Profile
          </div>
          
          <div class="item item-text-wrap">
            <div id="vert-bar" class="yellow">
            </div>

            <div class="profile-image-boy settings-page">
              <img src="img/boy-child.jpg" />
            </div>

            <div class="profile-text">
                <h2>Johnny Doe Jr |  8, Male </h2>
                <!-- <p>Age: 8</p>
                <p>Sex: Male</p> -->
                <p>Insurance ID: 902-933-285</p>
                <p>Insurance Provider: BCBS Georgia</p>
            </div>

          </div>
    
          <div class="item item-text-wrap">
            <div id="vert-bar" class="pac-blue">
            </div>

            <div class="profile-image-girl settings-page">
              <img src="img/girl-child.jpg" />
            </div>
            <div class="profile-text item-wrap-text">
                <h2>Johanna Doe |   5, Female </h2>
               <!--  <p>Age: 5</p>
                <p>Sex: Female</p> -->
                <p>Insurance ID: 902-933-251</p>
                <p>Insurance Provider: BCBS Georgia</p>
                
            </div>

          </div>

          
        </div>    
      </div>
<!-- 
      <div class="list card">
        <div>
          <div class="item item-divider">
            Patient Profile
          </div>

          <div class="profile-image settings-page">
          </div>

          <div class="item">
              <h2>Name: Johanna Doe</h2>
              <p>Age: 7</p>
              <p>Sex: Female</p>
              <p>Insurance Provider: BCBS Georgia</p>
              <p>Insurance ID: 902-933-285</p>
          </div>
        </div>    
      </div> -->

  </ion-content>
</ion-view>
