<ion-view view-title="Manage Profile">
  <ion-content>

     <div class="list card">
        <div>
          <div class="item item-divider text-center">
            <strong>User Profile</strong>
          </div>

          <div class="settings-page">
            <img class="profile-image settings-page" src="img/user.jpg" />
          </div>

          <div class="item">
              <h2><strong>{{user.name}}</strong></h2>
              <p><strong>Email:</strong> {{user.email}}</p>
              <p><strong>Phone:</strong> {{user.phone}}</p>
              <p><strong>Address:</strong> {{user.address}}</p>
              <p>{{user.city}}, {{user.state}} {{user.zip}}</p>
          </div>
        </div>
      </div>

      <div class="list card">
        <div>
          <div class="item item-divider text-center">
            <strong>Patient Profiles</strong>
          </div>

          <div class="item item-text-wrap"
                ng-repeat="patient in patients">
            <div id="vert-bar" ng-class="patient.color">
            </div>

            <div class="profile-image-boy settings-page">
              <img ng-src="{{patient.photo}}"/>
            </div>

            <div class="profile-text">
                <h2>{{patient.name}} |  {{patient.age}}, {{patient.gender}} </h2>
                <p>Insurance ID: {{patient.insuranceID}}</p>
                <p>Insurance Provider: {{patient.insuranceProvider}}</p>
            </div>

          </div>


        </div>
      </div>

      <div class="list card"
           ng-show="isCheckingIn">
        <div class="item text-center item-divider">
          <strong>Is this information up to date?</strong>
        </div>

        <div class="item button-bar">
          <a class="button button-stable" ng-click="checkIn(0)">No</a>
          <a class="button button-positive" ng-click="checkIn(1)">Yes</a>
        </div>
      </div>

  </ion-content>
</ion-view>
