<ion-view view-title="Settings">
  <ion-content>

    <div class="list card">

      <div class="item item-divider">
        Settings
      </div>

      <div class="item item-toggle">
        Push Notifications
        <label class="toggle toggle-positive">
          <input type="checkbox"
                 ng-model="settings.push" >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>

      <div class="item item-toggle">
        SMS Notifications
        <label class="toggle toggle-positive">
          <input type="checkbox"
                 ng-model="settings.sms" >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>

      <div class="item item-toggle">
        Email Notifications
        <label class="toggle toggle-positive">
          <input type="checkbox"
                 ng-model="settings.email" >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>

      <div class="item item-toggle">
        Weather Updates
        <label class="toggle toggle-positive">
          <input type="checkbox"
                 ng-model="settings.weather" >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>

      <div class="item item-toggle">
        Traffic Updates
        <label class="toggle toggle-positive">
          <input type="checkbox"
                 ng-model="settings.traffic" >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>

    </div>
  </ion-content>
</ion-view>
