<ion-view view-title="Settings">
  <ion-content>

    <div class="list card">

      <div class="item item-divider text-center">
        <strong>Notification Preferences</strong>
      </div>

      <div class="item item-toggle">
        Push Notifications
        <label class="toggle toggle-positive">
          <input type="checkbox"
                 ng-model="settings.push" >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>

      <div class="item item-toggle">
        SMS Notifications
        <label class="toggle toggle-positive">
          <input type="checkbox"
                 ng-model="settings.sms" >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>

      <div class="item item-toggle">
        Email Notifications
        <label class="toggle toggle-positive">
          <input type="checkbox"
                 ng-model="settings.email" >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>

      <div class="item item-toggle">
        Weather Updates
        <label class="toggle toggle-positive">
          <input type="checkbox"
                 ng-model="settings.weather" >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>

      <div class="item item-toggle">
        Traffic Updates
        <label class="toggle toggle-positive">
          <input type="checkbox"
                 ng-model="settings.traffic" >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </div>

    <div class="list card">
          <div class="item item-divider text-center">
            <strong>Color Preferences</strong>
          </div>

          <label class="item item-input item-select"
                  ng-repeat="patient in patients">
            <div class="input-label">
              {{patient.name}} {{patient.color}}
            </div>
            <select ng-model="patient.color"
                    ng-options="color for color in colors">
                    <!--ng-change="changeJohnnyColor(patient.color)">-->
            </select><br>
          </label>

          <button class="button button-block button-balanced"
                  ng-click="changeSettings()">
            Submit
          </button>

          <!--<label class="item item-input item-select">-->
            <!--<div class="input-label">-->
              <!--Johnny Doe Jr.-->
            <!--</div>-->
            <!--<select ng-model="johnnyColor"-->
                    <!--ng-options="color for color in colors"-->
                    <!--ng-change="changeJohnnyColor(johnnyColor)">-->
            <!--</select><br>-->
          <!--</label>-->

          <!--<label class="item item-input item-select">-->
            <!--<div class="input-label">-->
              <!--Johanna Doe-->
            <!--</div>-->
            <!--<select ng-model="johannaColor"-->
                    <!--ng-options="color for color in colors"-->
                    <!--ng-change="changeJohannaColor(johannaColor)">-->
            <!--</select><br>-->
          <!--</label>-->

    </div>
  </ion-content>
</ion-view>
